Repository nix-community/nix4vscode: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml, nixfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
        exclude: 'data/.*'
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/biomejs/pre-commit
    rev: "v0.4.0"
    hooks:
    - id: biome-check
      additional_dependencies: ["@biomejs/biome@2.0.0"]
      exclude: 'data/.*'

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        language: system
        types_or: [rust]
        entry: rustfmt

  - repo: local
    hooks:
      - id: toml
        name: toml
        language: system
        types_or: [toml]
        entry: taplo format

  - repo: local
    hooks:
      - id: nixfmt
        name: nixfmt
        language: system
        types_or: [nix]
        entry: nixfmt

docs(README): refactor code block
  README.md
Due: none

fix(node): fix node version
  .npmrc
  package.json
  playground/package.json
Due: none

ci: fix playground
  .github/workflows/deploy-playground.yml
  package.json
  playground/.npmrc
  playground/package.json
Due: none

fix warning: pkgs.system replaced by pkgs.stdenv.hostPlatform.system
  flake.nix
  nix/forVscodeVersionRaw.nix
Due: nixfmt

feat(rustc): bump rustc to 1.89.0
  rust-toolchain.toml
Due: toml

fix: fix #338
  example/home.nix
  nix/matchesVscodeVersion.nix
Due: nixfmt

fix: fix #365
  nix/extensionsFromInfo.nix
Due: nixfmt

ci: check example everyday
  .github/workflows/check-example.yml
Due: none

feat: remove axel-based fetchurl
  nix/extensionsFromInfo.nix
  nix/fetchurl/builder.sh
  nix/fetchurl/fetchurl.nix
  nix/fetchurl/test.nix
Due: nixfmt

feat: vendor vscode-utils
  nix/extensionsFromInfo.nix
  nix/vscode-utils/default.nix
  nix/vscode-utils/unpack-vsix-setup-hook.sh
Due: nixfmt

Revert "feat: remove axel-based fetchurl"
  nix/extensionsFromInfo.nix
  nix/fetchurl/builder.sh
  nix/fetchurl/fetchurl.nix
  nix/fetchurl/test.nix
Due: nixfmt

docs: update doc
  README.md
Due: none

ci(dependabot): add dependabot for nix flake updates
  .github/dependabot.yml
Due: none

feat(exporter): add sparse file
  Cargo.lock
  crates/exporter/Cargo.toml
  crates/exporter/src/exporter.rs
Due: rustfmt, toml

ci: fix push extension
  .github/workflows/export-openvsx.yml
  .github/workflows/export-vscode.yml
Due: none

refactor: remove playground
  .github/workflows/deploy-playground.yml
  playground/.gitignore
  playground/.npmrc
  playground/README.md
  playground/astro.config.ts
  playground/components.json
  playground/package.json
  playground/pnpm-lock.yaml
  playground/pnpm-workspace.yaml
  playground/public/favicon.svg
  playground/src/assets/astro.svg
  playground/src/assets/background.svg
  playground/src/components/SearchPage.tsx
  playground/src/components/VirtualExtensionList.tsx
  playground/src/components/ui/badge.tsx
  playground/src/components/ui/button.tsx
  playground/src/components/ui/card.tsx
  playground/src/components/ui/checkbox.tsx
  playground/src/components/ui/input.tsx
  playground/src/components/ui/label.tsx
  playground/src/components/ui/sonner.tsx
  playground/src/hooks/useSearch.ts
  playground/src/layouts/Layout.astro
  playground/src/lib/query-client.ts
  playground/src/lib/utils.ts
  playground/src/lib/version/types.ts
  playground/src/lib/version/utils.test.ts
  playground/src/lib/version/utils.ts
  playground/src/lib/version/version.ts
  playground/src/pages/index.astro
  playground/src/services/extension-data.ts
  playground/src/styles/global.css
  playground/src/types/index.ts
  playground/tsconfig.json
Due: none

refactor(code-api): using xidl refactor
  Cargo.lock
  crates/code_api/Cargo.toml
  crates/code_api/build.rs
  crates/code_api/idl/gallery.idl
  crates/code_api/src/code.rs
  crates/code_api/src/code/extensions.rs
  crates/code_api/src/code/gallery_extension.rs
  crates/code_api/src/code/gallery_extension/extension_version.rs
  crates/code_api/src/code/gallery_extension/version.rs
Due: rustfmt, toml

refactor(code-api): use XIDL generated gallery client
  Cargo.lock
  crates/code_api/Cargo.toml
  crates/code_api/build.rs
  crates/code_api/idl/gallery.idl
  crates/code_api/idl/gallery_support.idl
  crates/code_api/src/code.rs
  crates/code_api/src/code/enums.rs
  crates/code_api/src/code/extensions.rs
  crates/code_api/src/code/http_client.rs
  crates/code_api/src/code/query.rs
  crates/code_api/src/code/request_body.rs
  crates/code_api/src/code/version.rs
Due: rustfmt, toml

fix(code-api): align gallery schema with live APIs
  crates/code_api/idl/gallery.idl
  crates/code_api/idl/gallery_support.idl
  crates/code_api/src/code/gallery_extension/extension_version.rs
  crates/code_api/src/code/http_client.rs
Due: rustfmt

fix(code-api): install rustls provider for gallery client
  Cargo.lock
  crates/code_api/Cargo.toml
  crates/code_api/src/code/http_client.rs
Due: rustfmt, toml

Revert "build(deps): bump serde_with from 3.17.0 to 3.21.0"
  Cargo.lock
Due: none

ci: add cargo test ci
  .github/workflows/check-unittest.yml
Due: none

refactor: remove nix32
  Cargo.lock
  Cargo.toml
  crates/nix32/Cargo.toml
  crates/nix32/README.md
  crates/nix32/src/lib.rs
Due: rustfmt, toml
