Repository nix-community/nix4vscode: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml, nixfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
    exclude: 'data/.*'

  - repo: https://github.com/biomejs/pre-commit
    rev: "v0.4.0"
    hooks:
    - id: biome-check
      additional_dependencies: ["@biomejs/biome@1.9.4"]

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        language: system
        types_or: [rust]
        entry: rustfmt

  - repo: local
    hooks:
      - id: toml
        name: toml
        language: system
        types_or: [toml]
        entry: taplo format

  - repo: local
    hooks:
      - id: nixfmt
        name: nixfmt
        language: system
        types_or: [nix]
        entry: nixfmt

feat(exporter): rename fields
  crates/exporter/src/export/data.rs
Due: rustfmt

fix(nix): fix nix
  example/flake.lock
  flake.nix
  nix/vscode.nix
Due: nixfmt

feat: add overlays
  flake.nix
Due: nixfmt

feat(nix): add forVscodeVersion
  flake.nix
Due: nixfmt

fix(script): fix version
  biome.jsonc
  scripts/main.ts
Due: none

fix(mini_toml): fix implmenent
  crates/exporter/src/mini_toml.rs
Due: rustfmt

fix(nix): fix version compare
  nix/version.nix
Due: nixfmt

chore(master): release nix4vscode 0.0.10
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/code_api/Cargo.toml
  crates/exporter/Cargo.toml
  crates/nix32/Cargo.toml
Due: toml

fix: Revert "feat(code_api): don't use rusttls"
  Cargo.lock
  crates/code_api/Cargo.toml
Due: toml

chore(master): release nix4vscode 0.0.11
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/code_api/Cargo.toml
  crates/exporter/Cargo.toml
  crates/nix32/Cargo.toml
Due: toml

feat(flake): using faster jaq
  flake.nix
Due: nixfmt

feat(overlay): validate extensions
  flake.nix
Due: nixfmt

fix(example): fix overlays
  example/flake.nix
  example/vscode_plugins.nix
Due: nixfmt

fix(overlay): fix cpptools
  nix/decorators/ms-vscode.cpptools.nix
Due: nixfmt

chore(master): release nix4vscode 0.0.12
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/code_api/Cargo.toml
  crates/exporter/Cargo.toml
  crates/nix32/Cargo.toml
Due: toml

feat(scripts): support name with version
  scripts/deno.json
  scripts/deno.lock
  scripts/main.d.ts
  scripts/main.ts
  scripts/parse_args.ts
  scripts/utils.test.ts
  scripts/utils.ts
Due: none

feat(flake): using deno in flake.nix
  flake.nix
Due: nixfmt

fix(scripts): fix scripts error
  flake.nix
  scripts/deno.json
  scripts/out.js
Due: nixfmt

feat: fix #252
  flake.nix
  nix/vscode.nix
Due: nixfmt

docs: update docs
  README.md
Due: none

feat(exporter): export prerelease
  crates/exporter/src/export.rs
  crates/exporter/src/export/data.rs
  crates/exporter/src/mini_json.rs
  flake.nix
  scripts/deno.json
  scripts/main.d.ts
  scripts/main.ts
  scripts/out.js
Due: rustfmt, nixfmt

fix: fix #255
  flake.nix
Due: nixfmt

feat: try add support for openvsx
  crates/code_api/src/code/http_client.rs
  crates/exporter/src/fetch_info.rs
  crates/exporter/src/main.rs
  crates/exporter/src/mini_json.rs
  crates/exporter/src/mini_toml.rs
  src/code.rs
Due: rustfmt

refactor(exporter): remove export nix
  crates/exporter/src/main.rs
  crates/exporter/src/serde_nix.rs
Due: rustfmt

feat: update sql
  crates/exporter/migrations/2025-03-18-135712_marketplace/up.sql
Due: none

feat: don't filter out other crates's log
  .github/workflows/exporter.yml
  crates/exporter/src/utils.rs
Due: rustfmt

feat(url): ignore assert_url
  crates/exporter/src/export/data.rs
  scripts/main.d.ts
  scripts/main.ts
  scripts/out.js
  scripts/utils.ts
Due: rustfmt

feat: auto export data
  Cargo.lock
  crates/exporter/Cargo.toml
  crates/exporter/bindings/ExportedData.ts
  crates/exporter/src/export/data.rs
  scripts/main.d.ts
  scripts/main.ts
Due: rustfmt, toml

feat: skip page size if it's u64::MAX
  crates/code_api/src/code/request_body.rs
  crates/exporter/src/fetch_info.rs
Due: rustfmt

feat(exporter): remove unused code
  Cargo.lock
  crates/exporter/Cargo.toml
  crates/exporter/src/export.rs
Due: rustfmt, toml

feat(decorators): fix cpptools
  nix/decorators/ms-vscode.cpptools.nix
  nix/decorators/package-activation-events.json
Due: nixfmt

docs(README.md): Use inherit in usage example
  README.md
Due: none

feat(devshell): Add .envrc
  .envrc
Due: none
