Repository nix-community/nix4vscode: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml, nixfmt

rustfmt:
  name: rustfmt
  language: system
  entry: rustfmt

toml:
  name: toml
  language: system
  entry: taplo format

nixfmt:
  name: nixfmt
  language: system
  entry: nixfmt

ci: rename action names
  .github/workflows/check-example.yml
  .github/workflows/check-flake.yml
  .github/workflows/depbot_auto_meger.yaml
  .github/workflows/export-openvsx.yml
  .github/workflows/export-vscode.yml
Due: none

ci: restore depbot auto meger
  .github/workflows/depbot-auto-meger.yml
Due: none

fix(openvsx): fix openvsx
  example/home.nix
  flake.nix
Due: nixfmt

test(example): add testcase
  example/home.nix
Due: nixfmt

feat: add playground
  .github/workflows/deploy-playground.yml
  .pre-commit-config.yaml
  biome.jsonc
  playground/.gitignore
  playground/README.md
  playground/astro.config.mjs
  playground/components.json
  playground/package.json
  playground/pnpm-lock.yaml
  playground/pnpm-workspace.yaml
  playground/public/favicon.svg
  playground/src/assets/astro.svg
  playground/src/assets/background.svg
  playground/src/components/SearchPage.tsx
  playground/src/components/VirtualExtensionList.tsx
  playground/src/components/ui/badge.tsx
  playground/src/components/ui/button.tsx
  playground/src/components/ui/checkbox.tsx
  playground/src/components/ui/input.tsx
  playground/src/components/ui/label.tsx
  playground/src/components/ui/sonner.tsx
  playground/src/hooks/useSearch.ts
  playground/src/layouts/Layout.astro
  playground/src/lib/query-client.ts
  playground/src/lib/utils.ts
  playground/src/lib/version/types.ts
  playground/src/lib/version/utils.test.ts
  playground/src/lib/version/utils.ts
  playground/src/lib/version/version.ts
  playground/src/pages/index.astro
  playground/src/services/extension-data.ts
  playground/src/styles/global.css
  playground/src/types/index.ts
  playground/tsconfig.json
Due: none

fix(pnpm): add pnpm version
  .github/workflows/deploy-playground.yml
  package.json
  playground/src/services/extension-data.ts
Due: none

feat(playground): update playground
  playground/astro.config.ts
  playground/package.json
  playground/pnpm-lock.yaml
  playground/src/components/SearchPage.tsx
  playground/src/components/ui/card.tsx
  playground/src/hooks/useSearch.ts
  playground/src/lib/query-client.ts
  playground/src/services/extension-data.ts
Due: none

fix(playground): fix path
  playground/astro.config.ts
Due: none

ci(playground): update ci
  .github/workflows/deploy-playground.yml
Due: none

feat(playground): fix openvsx url
  playground/src/services/extension-data.ts
Due: none

fix(playground): fix display on plone
  playground/src/components/VirtualExtensionList.tsx
Due: none

fix: fix build problem
  crates/exporter/src/exporter/mini_json.rs
  crates/exporter/src/exporter/mini_toml.rs
Due: rustfmt

fix(nix): Fix Open VSX platform suffix
  nix/extensionsFromInfo.nix
  nix/getExtensionUrl.nix
  tests/default.nix
  tests/getExtensionUrl.nix
Due: nixfmt

fix(playground): Fix Open VSX platform suffix
  playground/src/lib/version/utils.ts
Due: none

fix(exporter): Fix Open VSX platform suffix
  crates/exporter/src/fetch_hash.rs
  crates/exporter/src/utils.rs
Due: rustfmt

test(example): add more extension
  example/home.nix
Due: nixfmt

Fix typo in README.md for VSCode overlays
  README.md
Due: none

docs: fix typo in README.md for VSCode overlays (#336)
  README.md
Due: none

fix(exporter): fix panic when fetch openvsx
  Cargo.lock
  crates/code_api/Cargo.toml
  crates/code_api/src/code/gallery_extension/extension_version.rs
Due: rustfmt, toml

refactor(code_api): remove #[api]
  Cargo.lock
  crates/code_api/Cargo.toml
  crates/code_api/doc/vscode.adoc
  crates/code_api/src/code/enums.rs
  crates/code_api/src/code/extensions.rs
  crates/code_api/src/code/gallery_extension.rs
  crates/code_api/src/code/gallery_extension/extension_version.rs
  crates/code_api/src/code/gallery_extension/version.rs
  crates/code_api/src/code/http_client.rs
  crates/code_api/src/code/query.rs
  crates/code_api/src/code/request_body.rs
  crates/derive/Cargo.toml
  crates/derive/src/lib.rs
Due: rustfmt, toml

refactor(playground): refactor npm
  package.json
  playground/.npmrc
  playground/package.json
Due: none

feat(playground): rename index page
  playground/src/layouts/Layout.astro
Due: none

docs(README): refactor code block
  README.md
Due: none

feat(playground): add github button
  playground/src/components/SearchPage.tsx
Due: none

feat(playground): using query params
  playground/src/components/SearchPage.tsx
  playground/src/lib/version/utils.ts
Due: none

Path conditions:
  rustfmt: any of: \.rs$
  toml: any of: \.toml$
  nixfmt: any of: \.nix$
