Repository nix-community/nix4vscode: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml, nixfmt

rustfmt:
  name: rustfmt
  language: system
  entry: rustfmt

toml:
  name: toml
  language: system
  entry: taplo format

nixfmt:
  name: nixfmt
  language: system
  entry: nixfmt

refactor(exporter): remove ts-rs
  Cargo.lock
  crates/exporter/Cargo.toml
  crates/exporter/bindings/ExportedData.ts
  crates/exporter/src/exporter/data.rs
Due: rustfmt, toml

refactor(exporter): remove export to toml
  Cargo.lock
  crates/exporter/Cargo.toml
  crates/exporter/src/exporter.rs
  crates/exporter/src/exporter/mini_toml.rs
  crates/exporter/src/main.rs
Due: rustfmt, toml

refactor: remove unused deps
  Cargo.lock
  crates/exporter/Cargo.toml
  crates/exporter/src/exporter/mini_json.rs
Due: rustfmt, toml

style: fmt the world
  .github/workflows/check-unittest.yml
  .pre-commit-config.yaml
  crates/code_api/Cargo.toml
  crates/code_api/src/code/http_client.rs
  crates/code_api/src/code/version.rs
  rust-toolchain.toml
  rustfmt.toml
Due: rustfmt, toml

docs: add credits
  README.md
Due: none

feat: remove cargo configurations from dependabot.yml
  .github/dependabot.yml
Due: none

fix: use gallerycdn for extension downloads to improve speed
  crates/exporter/src/utils.rs
  nix/extensionsFromInfo.nix
  nix/fetchurl/builder.sh
  nix/fetchurl/fetchurl.nix
  nix/fetchurl/test.nix
  nix/getExtensionUrl.nix
  tests/getExtensionUrl.nix
Due: rustfmt, nixfmt

fix(exporter): fix url query formatting when platform is not specified
  crates/exporter/src/utils.rs
Due: rustfmt

Path conditions:
  rustfmt: any of: \.rs$
  toml: any of: \.toml$
  nixfmt: any of: \.nix$
