Repository nix-community/nix4vscode: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml, nixfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
    exclude: 'data/.*'

  - repo: https://github.com/biomejs/pre-commit
    rev: "v0.4.0"
    hooks:
    - id: biome-check
      additional_dependencies: ["@biomejs/biome@1.9.4"]

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        language: system
        types_or: [rust]
        entry: rustfmt

  - repo: local
    hooks:
      - id: toml
        name: toml
        language: system
        types_or: [toml]
        entry: taplo format

  - repo: local
    hooks:
      - id: nixfmt
        name: nixfmt
        language: system
        types_or: [nix]
        entry: nixfmt

feat(devshell): Add .envrc
  .envrc
Due: none

docs(README.md): Use inherit in usage example
  README.md
Due: none

fix: fix extension
  crates/exporter/src/export.rs
Due: rustfmt

feat(scripts): ignore case
  scripts/main.ts
  scripts/out.js
Due: none

chore(master): release nix4vscode 0.0.12
  .release-please-manifest.json
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/code_api/Cargo.toml
  crates/exporter/Cargo.toml
  crates/nix32/Cargo.toml
Due: toml

ci: better ci
  .github/workflows/gate.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/release_please.yaml
  .release-please-manifest.json
  release-please-config.json
Due: none

test: add test
  .github/workflows/gate.yml
  scripts/main.ts
  scripts/out.js
  scripts/types.ts
  scripts/utils.test.ts
  scripts/utils.ts
Due: none

feat(overlays): Expose utilities under nix4vscode namespace
  flake.nix
Due: nixfmt

docs(usage): Add overlays usage examples
  README.md
Due: none

docs(overlays): Fix a typo in comment
  README.md
Due: none

docs(overlays): Add example with specified package version
  README.md
Due: none

feat(overlays): Remove old attrset
  flake.nix
Due: nixfmt

docs: update README
  README.md
Due: none

docs: format nix code
  README.md
Due: none

docs: using extension with version
  README.md
Due: none

feat(exporter): update migrate
  crates/exporter/migrations/2025-03-18-135712_marketplace/up.sql
  crates/exporter/src/schema.rs
Due: rustfmt

fix(exporter): fix openvsx fetch info
  crates/code_api/src/code/gallery_extension.rs
  crates/exporter/src/fetch_info.rs
Due: rustfmt

ci: export openvsx
  .github/workflows/exporter_openvsx.yml
Due: none

feat(flake): add support for openvsx
  flake.nix
Due: nixfmt

docs(README): update readme
  README.md
Due: none

docs: update docs
  README.md
Due: none

ci: fix fetch openvsx
  .github/workflows/exporter_openvsx.yml
  data/extensions_openvsx.json
Due: none

ci(openvsx): run exporter openvsx 5.5h
  .github/workflows/exporter_openvsx.yml
Due: none

fix(openvsx): fix openvsx deserialize
  crates/code_api/src/code/gallery_extension.rs
Due: rustfmt

fix(fetch-info): using publisher_id but not publisher_name
  crates/exporter/src/fetch_info.rs
Due: rustfmt

fix(exporter): fix openvsx problem
  crates/code_api/src/code/gallery_extension.rs
  crates/exporter/src/fetch_info.rs
Due: rustfmt

fix(exporter): fix exporter
  crates/exporter/src/fetch_info.rs
Due: rustfmt

fix: fix #269
  crates/exporter/src/export.rs
  crates/exporter/src/fetch_hash.rs
Due: rustfmt

feat(exporter): using computed url
  crates/exporter/src/fetch_hash.rs
  crates/exporter/src/main.rs
  crates/exporter/src/utils.rs
Due: rustfmt

ci: fix openvsx ci
  .github/workflows/exporter_openvsx.yml
Due: none

fix(exporter): fix update hash
  crates/exporter/src/fetch_hash.rs
Due: rustfmt

feat: remove assert_url
  biome.jsonc
  crates/exporter/migrations/2025-03-18-135712_marketplace/up.sql
  crates/exporter/src/export/data.rs
  crates/exporter/src/fetch_info.rs
  crates/exporter/src/models.rs
  crates/exporter/src/schema.rs
Due: rustfmt

feat: allow platform is null
  crates/exporter/migrations/2025-03-18-135712_marketplace/up.sql
  crates/exporter/src/export/data.rs
  crates/exporter/src/fetch_hash.rs
  crates/exporter/src/fetch_info.rs
  crates/exporter/src/models.rs
  crates/exporter/src/schema.rs
Due: rustfmt

feat: sort exported item
  crates/exporter/src/export.rs
  crates/exporter/src/utils.rs
Due: rustfmt

fix: fix bugs
  crates/exporter/migrations/2025-03-18-135712_marketplace/up.sql
  crates/exporter/src/export.rs
  crates/exporter/src/export/data.rs
  crates/exporter/src/fetch_hash.rs
  crates/exporter/src/fetch_info.rs
  crates/exporter/src/models.rs
  crates/exporter/src/schema.rs
  rustfmt.toml
Due: rustfmt, toml
