Repository nix-community/nix4vscode: changes, and which pre-commit hooks are due for each by the changed paths.
All: rustfmt, toml, nixfmt

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
    exclude: 'data/.*'

  - repo: https://github.com/biomejs/pre-commit
    rev: "v0.4.0"
    hooks:
    - id: biome-check
      additional_dependencies: ["@biomejs/biome@1.9.4"]

  - repo: local
    hooks:
      - id: rustfmt
        name: rustfmt
        language: system
        types_or: [rust]
        entry: rustfmt

  - repo: local
    hooks:
      - id: toml
        name: toml
        language: system
        types_or: [toml]
        entry: taplo format

  - repo: local
    hooks:
      - id: nixfmt
        name: nixfmt
        language: system
        types_or: [nix]
        entry: nixfmt

refactor: remove some useless code
  nix/version.nix
  nix/version.test.nix
  nix/vscode.nix
Due: nixfmt

feat: allow using custom decortor
  nix/vscode.nix
Due: nixfmt

fix: fix url
  nix/vscode.nix
Due: nixfmt

fix(plugins): try fix sumneko.lua
  nix/decorators/sumneko.lua.nix
Due: nixfmt

feat(flake): ignore case
  flake.nix
Due: nixfmt

docs(README): remove fetcher from README.md
  README.md
Due: none

doc: fix broken example
  README.md
Due: none

chore: follows nixpkgs for rust-overaly
  flake.lock
  flake.nix
Due: nixfmt

feat(fetcher): add support for codelldb
  Cargo.lock
  crates/code_api/src/code/http_client.rs
  crates/code_api/src/code/version.rs
  crates/code_api/src/version.rs
  crates/exporter/Cargo.toml
  crates/exporter/migrations/2025-03-18-135712_marketplace/up.sql
  crates/exporter/src/codellab.rs
  crates/exporter/src/export/data.rs
  crates/exporter/src/fetch_hash.rs
  crates/exporter/src/fetch_info.rs
  crates/exporter/src/main.rs
  crates/exporter/src/mini_json.rs
  crates/exporter/src/mini_toml.rs
  crates/exporter/src/models.rs
  crates/exporter/src/schema.rs
  crates/exporter/src/utils.rs
  src/code.rs
  src/main.rs
Due: rustfmt, toml

feat(exporter): allow set export format
  crates/exporter/src/export.rs
  crates/exporter/src/export/mini_json.rs
  crates/exporter/src/export/mini_toml.rs
  crates/exporter/src/main.rs
Due: rustfmt

ci: fix gate
  .github/workflows/gate.yml
Due: none

fix(exporter): fix fetch hash
  crates/exporter/src/exporter.rs
  crates/exporter/src/exporter/data.rs
  crates/exporter/src/exporter/mini_json.rs
  crates/exporter/src/exporter/mini_toml.rs
  crates/exporter/src/fetch_hash.rs
  crates/exporter/src/main.rs
  crates/exporter/src/utils.rs
Due: rustfmt

fix(script): fix for codelldb
  crates/exporter/bindings/ExportedData.ts
  flake.nix
  scripts/main.ts
  scripts/out.js
  scripts/types.ts
  scripts/utils.ts
Due: nixfmt

style(script): don't print log
  scripts/main.ts
  scripts/out.js
Due: none

fix(exporter): fix system name
  crates/exporter/src/fetch_info.rs
  crates/exporter/src/models.rs
Due: rustfmt

fix(exporter): fix name parse
  crates/exporter/src/fetch_info.rs
Due: rustfmt

feat: better error message. fix #296
  flake.nix
Due: nixfmt

fix(exporter): fix platform
  crates/exporter/src/fetch_info.rs
  crates/exporter/src/models.rs
Due: rustfmt

refactor: remove fetcher
  .github/workflows/gate.yml
  .github/workflows/nightly.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  Cross.toml
  config.toml
  example/flake.lock
  example/flake.nix
  example/vscode_plugins.nix
  flake.nix
  src/code.rs
  src/config.rs
  src/error.rs
  src/jinja.rs
  src/jinja/context.rs
  src/jinja/context/asset_url.rs
  src/jinja/filters.rs
  src/jinja/template/codelldb.j2
  src/jinja/template/nix_expression.nix.j2
  src/main.rs
  src/utils.rs
  src/utils/cacher.rs
Due: rustfmt, toml, nixfmt

fix: fix workspace
  Cargo.toml
Due: toml

feat: add python3
  .envrc
Due: none

fix(flake): fix flake problem
  flake.lock
  flake.nix
Due: nixfmt

feat(cargo): update lock file
  Cargo.lock
Due: none

feat(nix): download zip by axel
  nix/fetchurl/builder.sh
  nix/fetchurl/fetchurl.nix
  nix/fetchurl/test.nix
  nix/vscode.nix
Due: nixfmt
